<ion-content [fullscreen]="true" class="custom-panel">
  <ion-header [translucent]="true" class="custom-header">
    <div class="custom-bubble"></div>
    <ion-toolbar class="custom-toolbar">
      <ion-grid>
        <ion-row>
          <ion-col>
          <h3 class="titulo">Crear viaje</h3>
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido de tu panel deslizable -->
  <div class="custom-container">
    
    <!-- Columna 1 -->
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="custom-history">
            <h2 class="custom-text">Tu calificación</h2>
            <ion-icon name="star" class="star"></ion-icon>
            <ion-icon name="star" class="star"></ion-icon>
            <ion-icon name="star" class="star"></ion-icon>
            <ion-icon name="star" class="star"></ion-icon>
            <ion-icon name="star" class="star"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Columna 2 -->
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="custom-history">
            <h5 class="custom-text">Direcciones del viaje</h5>
            <ion-item>
              <ion-label position="floating">desde lat</ion-label>
              <ion-input  [(ngModel)]="desde_lat" name="desde_lat" type="float"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">desde long</ion-label>
                <ion-input  [(ngModel)]="desde_long" name="desde_long" type="float"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">hasta lat</ion-label>
                  <ion-input  [(ngModel)]="hasta_lat" name="hasta_lat" type="float"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">hasta long</ion-label>
                    <ion-input  [(ngModel)]="hasta_long" name="hasta_long" type="float"></ion-input>
                    </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Numero de pasajeros</ion-label>
            <ion-input  [(ngModel)]="pasajeros" name="1-4" type="number"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Costo</ion-label>
            <ion-input  [(ngModel)]="costo" name="costo" type="number"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="custom-history">
            <ion-button expand="full" (click)="grabar()">GENERAR VIAJE</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
<br><br>
</ion-content>
