.tamano{
    max-width: 50%;
}
.cerrar-modal { 
    background-color: #1d3c43; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px; 
  }

  .cerrar-modal-container {
    display: flex;
    justify-content: center;
  }