
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="fondo" style="height: max-content;">
      <div style="margin: 25%;">
        <h2>Información General</h2>
        <ul>
            <li>
                <label>Fecha y Hora:</label>
                <span> 19 de septiembre de 2023, 17:50</span>
            </li>
            <li>
                <label>Origen:</label>
                <span>Duoc UC Puente Alto</span>
            </li>
            <li>
                <label>Destino:</label>
                <span>Las nieves 1570</span>
            </li>
        </ul>
        
        <h2>Detalles Adicionales</h2>
        <ul>
            <li>
                <label>Número de Pasajeros:</label>
                <span>4</span>
            </li>
            <li>
                <label>Precio por Pasajero:</label>
                <span>$2.500</span>
            </li>
            <li>
                <label>Calificación del Viaje:</label>
                <span>4.5 estrellas</span>
            </li>
        </ul>
        
      </div>
    </div>
    <div class="cerrar-modal-container">
      <button class="cerrar-modal" (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>
</div>