.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

b {
  width: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #E2D0B2;
}





.swiper-container {
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  margin-bottom: 30px;

  .swiper-slide {
    position: relative;

    img {
      width: 100%;
      height: auto;
    }

    .button-wrapper {
      position: absolute;
      bottom: 10px;
      left: 10px;

      button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}


ion-content.fondo {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#mapa-box {
  width: 100%;
  height: 84%;
  background-color: yellow; // Solo para ver el tamaño
  max-height: max-content;

}

#map-container{
  height: 100vh;
  width: auto;
}

html, body{
  width: 100%;
  height: 100%;
}

.container{
  height: 100%;
  z-index: 2;
  width: 100%;

}

.abierto {
// Define el estilo para el panel desplegable abierto aquí, por ejemplo:
transform: translateY(0);
opacity: 1;
// Otros estilos de tu elección
}




app-panel-despegable {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;

  &.abierto {
    height: auto; /* O la altura que desees cuando el panel esté abierto */
  }
}

