<ion-content [fullscreen]="true" class="custom-panel">
  <ion-header [translucent]="true" class="custom-header">
    <div class="custom-bubble"></div>
    <ion-toolbar class="custom-toolbar">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-searchbar (click)="openModal()" animated="true" class="custom-search-bar custom-sticky-search-bar" show-clear-button="focus" value="" placeholder="Viajar"></ion-searchbar>          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido de tu panel deslizable -->
  <div class="custom-container">
    
    <!-- Columna 1 -->
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="custom-history">
            <h5 class="custom-text">últimos viajes</h5>
            <ion-button expand="full" class="custom-button custom-bg-color">
              <ion-icon name="car-sport-outline" slot="start"></ion-icon>
              <span class="custom-button-text">Aqui se insertata la direccion</span>
            </ion-button>
            <ion-button expand="full" class="custom-button custom-bg-color">
              <ion-icon name="car-sport-outline" slot="start"></ion-icon>
              <span class="custom-button-text">Viaje 1</span>
            </ion-button>
            <ion-button expand="full" class="custom-button custom-bg-color">
              <ion-icon name="repeat-outline" slot="start"></ion-icon>
              <span class="custom-button-text">Repetir</span>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Columna 2 -->
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="custom-history">
            <h5 class="custom-text">Favoritos</h5>
            <ion-button expand="full" class="custom-button custom-bg-color">
              <ion-icon name="car-sport-outline" slot="start"></ion-icon>
              <span class="custom-button-text">Aqui se insertata la direccion</span>
            </ion-button>
            <ion-button expand="full" class="custom-button custom-bg-color">
              <ion-icon name="car-sport-outline" slot="start"></ion-icon>
              <span class="custom-button-text">Aqui se insertata la direccion</span>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    
  </div>
  <ion-footer class="fixed-footer">
    <ion-toolbar>
      <app-tablass></app-tablass>
    </ion-toolbar>
  </ion-footer>
</ion-content>
