<ion-header>
  <ion-toolbar>
    <ion-title>Circulo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <app-swiper (deleted)="borrarItem(item)">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>{{ item.subject }}</ion-label>
      </app-swiper>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="guardarCambios()">Guardar Cambios</ion-button>
</ion-content>
