<ion-header>
    <ion-toolbar>
      <ion-title>Agregar Dirección Particular</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cerrarModal()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="detalle-content">

    <ion-grid class="detalle-container">
  
      <ion-row>
        <ion-col size="12" class="custom-avatar-column">
          <ion-avatar class="custom-avatar">
            <label for="fileInput">
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </label>
          </ion-avatar>
        </ion-col>
      </ion-row>
      <!-- Fila 1: Nombre -->
      
      <ion-row>
        <ion-col size="12">
          <h2 style="text-align: center; color: aliceblue;">Agregar direccion</h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked"></ion-label>
            <ion-input placeholder="Nombre de Direccion"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  

    </ion-grid>
  
    <!-- Botón para guardar cambios -->
  <ion-footer>
    <ion-button expand="block" (click)="agregarDireccionParticular()">Guardar Direccion</ion-button>
  </ion-footer>
  
