<ion-header>
    <ion-toolbar>
      <ion-title>Agregar Dirección Particular</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cerrarModal()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <ion-item>
      <ion-label position="stacked">Dirección</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-button expand="block" (click)="agregarDireccionParticular()">Agregar Dirección</ion-button>
  </ion-content>