/* Estilos personalizados para los botones */
.custom-button {
    display: flex;
    justify-content: flex-start; /* Colocar icono al principio */
    align-items: center; /* Centrar verticalmente el contenido */
    text-align: right; /* Alinear texto a la izquierda */
    margin-bottom: 8px; /* Espaciado inferior entre botones */
  }
  
  .button-text {
    margin-left: 10px; /* Espaciado entre el icono y el texto */
    font-weight: 500; /* Estilo de fuente del texto */
  }
  
  /* Agrega cualquier otro estilo que desees aquí */
  ion-button{
      --background: rgba(44, 168, 193, 0.922);
  }
  